.headerContainer{ 
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8C3B70;
    
}

.navLink{
    color: white;
    box-shadow: #8C3B70;
    padding: 15px;
    font-size: 30px;
}

.navigation{
    display: flex;
    flex-direction: row;
    gap:15 px;
}